NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=2025-08-29
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333

SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=

OPENSEARCH_URL=http://localhost:9200
SANITY_WEBHOOK_SECRET=
SEARCH_REINDEX_SECRET=
